h1 {
    color: green
;
}
#navbar {
    border-left-color : black;
    border-bottom-width: 2px;
    width: 400px;
}
#navbar li {
    display: inline;
    border-color: green;
}
a {
    color: black;
}
